$bg-color-1: black;
$bg-color-2: rgb(0, 0, 36);

$text-color-1 : lime;

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
    background: black;
    color: $text-color-1;
}

.unloaded{
    color: $bg-color-1;
}

.animated::after{
    content: '|';
}

.skills, .contact {
    background-color: $bg-color-2;

    &.unloaded{
        color: $bg-color-2;
    }
}


.bio-container{
    display: flex;
    justify-content: space-evenly;
}

.bio-content{
    width: 50%; 
    height:150px;

    p{height: 100px;}
    a{display: block;}
}

.skills-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding:0 30px 0 30px;

    figure{width: 10%;}
    img{width: 50px;}
    
}

.projects-container{
    display: flex;
    justify-content: space-around;

    article{
        width: 25%;

        p{height: 250px;}
        a{margin-top: 10px; display: block;}
    }
}

.bounce{animation: bounce 0.5s ease-in;}

@keyframes bounce {
    0%{transform: translateY(0%);}
    50%{transform: translateY(-50%);}
    100%{transform: translateY(0%);}
}