$bg-color-1: black;
$bg-color-2: rgb(0, 0, 36);

$text-color-1 : lime;

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
    background: black;
    color: $text-color-1;
}

.unloaded{
    color: $bg-color-1;
}

.animated::after{
    content: '|';
}

.skills, .contact {
    background-color: $bg-color-2;

    &.unloaded{
        color: $bg-color-2;
    }
}


.bio-container{
    display: flex;
    justify-content: space-evenly;

    p{width: 50%; height:150px;}
    
}

.skills-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    figure{width: 10%;}

    img{width: 50px; height: 50px;}
    i{width: 50px; height: 50px;}
}

.projects-container{
    display: flex;
    justify-content: space-around;

    article{
        width: 25%;

        p{height: 150px;}
    }
}